@model IEnumerable<WorldSkillsPaper1.Resource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.resName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remainingQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource_Type.resTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.resName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remainingQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource_Type.resTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.resId }) |
            @Html.ActionLink("Details", "Details", new { id=item.resId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.resId })
        </td>
    </tr>
}

</table>
