@model WorldSkillsPaper1.Resource_Allocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resource_Allocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resource.resName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resource.resName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill.skillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill.skillName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.allocId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
